.dropDownProfile{
    position: absolute;
    top: 4.5rem;
    right: 1.5rem;
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;

}
.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -1rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;

}
.btnAvt {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #ffffff;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  